<div class="card-img" style="<%= "background: linear-gradient(190deg,rgba(0,0,0,0.1), rgba(0,0,0,0.5)) ,url(#{@cocktail.photo_url}) 0 0 no-repeat; background-size: cover;" %>"></div>
<div class="container">
  <h1 class="title">Edit <%= @cocktail.name %> cocktail</h1>
  <%= render 'form-cocktail', cocktail: @cocktail %>
</div>
