<div class="hero-section" style="margin-bottom: 0;">
  <div class="hero-section-text">
    <%= render 'form-cocktail', cocktail: @cocktail %>
    <div class="links">
      <%= link_to "", root_path, class: "fas fa-arrow-left" %>
    </div>
  </div>
</div>
