<div class="grid-container fluid">
  <div class="grid-x grid-margin-x grid-margin-y grid-padding-y">
    <div class="cell">
      <h1 class="align-center">Cocktails matching <%=  params[:search]%></h1>
      <div class="grid-x grid-margin-x small-up-1 medium-up-3 large-up-4 align-center">
        <% @cocktails.each do |cocktail| %>
        <%= render 'cocktail-card', cocktail: cocktail %>
        <% end %>
      </div>
      <div class="links">
        <%= link_to "", root_path, class: "fas fa-arrow-left" %>
      </div>
    </div>
  </div>
</div>


